# CMake build files
**/CMakeCache.txt
**/CMakeFiles/
**/cmake_install.cmake
**/Makefile

# C++ build artifacts
**/*.o
**/*.obj
**/*.so
**/*.a
**/*.lib
**/*.dll
**/*.exe

# Scala and Metals build files
**/.bloop/
**/.metals/
**/.bsp/
**/.ammonite/
**/target/
**/.idea/

# Logs and temporary files
*.log
*.tmp
*.swp
